.pers-data-list--date
    padding-bottom 40px

.pers-data-list__item-value--date
    width 206px
    margin-top -17px
    margin-right 379px
    padding-left 9px
    padding-bottom 36px
    background url(../images/sprite.png) ($pers-line-long_offset_x - 114px) ($pers-line-long_offset_y - 108px)

