.header
    clearfix()
    margin-bottom 23px

    &__logo
        float left
        height 302px
        width 300px
        background url(../images/h-logo.png) 45px 60px no-repeat
        padding-top 108px
        padding-left 51px
        font-family PTSansRegular, sans-serif
        font-size 10px

    &__title
        float left
        height 302px
        width 300px
        background url(../images/h-deal.png) 68px 184px no-repeat


    &__secret
        float right
        height 302px
        width 306px
        background url(../images/h-secret.png) 0px 48px no-repeat

