.pers-data-list
    padding-left 108px
    padding-right 121px
    padding-top 50px

    &__item
        clearfix()
        margin-bottom 10px

    &__item-value
        float right
        font-family "Courier New", Courier, monospace
        font-size 30px
        color #231f20

        &--name
            margin-top -16px
            padding-left 15px
            padding-bottom 36px
            width 627px
            background url(../images/sprite.png) $pers-line_offset_x ($pers-line_offset_y - 31px)

        &--birthdate
            margin-top -16px
            padding-left 15px
            padding-bottom 39px
            width 619px
            background url(../images/sprite.png) $pers-line_offset_x ($pers-line_offset_y - 30px)

        &--residence
            margin-top -16px
            padding-left 13px
            padding-bottom 39px
            width 576px
            background url(../images/sprite.png) $pers-line_offset_x ($pers-line_offset_y - 32px)

        &--skype
            margin-top -14px
            padding-left 13px
            padding-bottom 38px
            width 697px
            background url(../images/sprite.png) $pers-line-long_offset_x ($pers-line-long_offset_y - 108px)

        &--email
            margin-top -17px
            padding-left 13px
            padding-bottom 36px
            width 697px
            background url(../images/sprite.png) $pers-line-long_offset_x ($pers-line-long_offset_y - 108px)







