// choose a personal data: real person(type true or 1) or Ivanov(type false or 0)
- var realPerson = 0;

//- Blocking for links
- var jv0 = 'javascript:void(0);';

//- Build time for cache reset
- var timestamp = new Date().getTime();


