body
    font-family PTSansBold, sans-serif
    color #2f1b15
    background-color #797979

// в синтаксисе stylus( font-size 16px ) почему-то вызывает глюк
@css {
   body {
     font-size: 22.43px;
   }
 }


.main
    width 1000px
    margin-left auto
    margin-right auto
    margin-bottom 1px
    background url(../images/bg.jpg) #debe8b

