extends ../layouts/default


block head
  - pageTitle = 'Анкета'
  - pageDescription = 'Анкета, тестовое задание CSSSR'
  - pageCopyright = 'Me'

block content
  include ../blocks/personal
  include ../blocks/htmlacademy
  include ../blocks/skills
  include ../blocks/js
  include ../blocks/date
